# Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados
DATABASE_URL="file:./dev.db"

# JWT (gere uma chave secreta forte)
JWT_SECRET="sua_chave_secreta_muito_longa_aqui_1234567890abcdef"
JWT_EXPIRES_IN="15m"

# Mock de Pagamento
PAYMENT_MOCK_DELAY_MS=800